@font-face {
	font-family: 'Lotion';
	src: local('Lotion Regular'),
		url('./assets/fonts/Lotion-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion Regular Italic'),
		url('./assets/fonts/Lotion-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion SemiBold'),
		url('./assets/fonts/Lotion-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion SemiBold Italic'),
		url('./assets/fonts/Lotion-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion Bold'),
		url('./assets/fonts/Lotion-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion Bold Italic'),
		url('./assets/fonts/Lotion-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion Black'),
		url('./assets/fonts/Lotion-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Lotion';
	src: local('Lotion Black Italic'),
		url('./assets/fonts/Lotion-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

:root {
	--global-font-color: #000;
	--background-color: #fff;
	--website-font-size: 36px;

	--header-padding-top-bottom: 1.75rem;
	--header-padding-left-right: 1.875rem;

	--main-content-margin-top: 0.875rem;
	--main-content-margin-left-right: 3rem;
	--main-content-margin-bottom: 1.75rem;

	/* --panels-container-height: 700px; */
	--panels-container-height: calc(
		100vh - (2 * var(--header-padding-top-bottom) + var(--website-font-size)) -
			(1.75rem + 0.875rem)
	);
	--panels-container-max-width: 1276px;

	--comparison-panel-height: min(var(--panels-container-height), 700px);
	--comparison-panel-padding-vertical: 1rem;
	--comparison-panel-padding-horizontal: 0.75rem;

	/* --fonts-panel-height: calc(
		100vh - (2 * var(--header-padding-top-bottom) + var(--website-font-size)) -
			(1.75rem + 0.875rem)
	); */
	--fonts-panel-height: min(var(--panels-container-height), 700px);

	--font-selector-radio-container-padding: 1.5625rem;
	--font-category-section-container-flex-gap: 0.625rem;
	--font-category-section-container-padding-vertical: 0.625rem;
	--font-category-section-container-padding-horizontal: 0.875rem;
	--button-open-section-padding: 0.25rem;
	--open-fonts-container-padding: 0.875rem;
	--closed-fonts-container-padding: 0 0.875rem;
	--fonts-container-height: calc(
		var(--fonts-panel-height) -
			(
				2 * var(--font-selector-radio-container-padding) + 18px +
					(2 * var(--font-category-section-container-padding-vertical)) + 6 *
					2rem + 6 * var(--font-category-section-container-flex-gap) + 2 *
					var(--open-fonts-container-padding)
			)
	);

	--transition-speed: 200ms;
	--transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);

	font-family: Lotion, 'Lucida Console', Courier, monospace;
	line-height: 1.2;
	font-weight: 400;

	/* color-scheme: light dark; */
	background-color: var(--background-color);
	color: var(--global-font-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	line-height: 1.34;
}

a {
	position: relative;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
	transition: var(--transition-speed) var(--transition-timing-function);
}

a:focus {
	outline: 1px dashed black;
	outline-offset: 2px;
}

a::before {
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: -1px;
	left: 0;
	background-color: rgba(0, 0, 0, 0.315);
	content: '';
}

a::after {
	position: absolute;
	display: block;
	width: 0%;
	height: 2px;
	bottom: -1px;
	left: 0;
	background-color: rgb(0, 0, 0);
	content: '';
	transition: width var(--transition-speed) var(--transition-timing-function);
}

a:hover::after,
a:focus::after {
	width: 100%;
}

/* 
@media (prefers-color-scheme: light) {
  
} */
