@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=rP2Bp2a15UIB7Un-bOeISG3pLlwkxGi-q-_2nuzRvSer-QFOJY8QHB6nOTRW_4till_KCyKJaHPGVEEK0EEyyKKmRMNgm54X9aA&skey=5f69fa382b387122&v=v21) format('truetype');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=3XF5ErsiyJsY9O_Gepph-FvtTQgMQUdNekSfnPVh0q6qsthsRYOOeIxHMOMsc1LWE9DplYuL3jEkNm8ywwMC67_1y6eCRZ8NbkhJ0FqbNPEJm7RzYw&skey=d6d32eeecb56d7bb&v=v17) format('truetype');
}
@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=kmK_Zq85QVWbN1eW6lJl1xzs46cI8_YYDF55Q47Yj_XsaRxgWncf4LWCJfp-2uWvKtb2TjYoy5gPN9mGid9Ktu1WLaIC9A&skey=2ce3e4c5f9bd2908&v=v12) format('truetype');
}
@font-face {
  font-family: 'Chivo Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=mFThWbgRxKvF_Z5eQMO9qRMrJJrnKNtC3D7hr6fVMqgCkCI91y0b8dWRPzYzfARzpRw4eqAQb1sRw-ityvKfii2Gl9skX1ahijIKpCs_dML17v1k&skey=183ef205570cc250&v=v6) format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=u-450q2lgwslOqpF_6gQ8kELWwZ7a6a97b2sezrOStM63diJQOHUkDW-Xqz6X7XnyDvBgkWNcQxjeRacT5q9EMa2CQjOO1QhoiI&skey=e017e80d5b8c8838&v=v7) format('truetype');
}
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=d6lIkaiiRdih4SpPzSM9_X-ulJwhwCI5cGyo0oUZFksC1jvm3-wkUlaF4OsVwYGDXd5jw3BIl3ezIE1FGzfNVYeJWIo&skey=76eb36959adb8e1f&v=v25) format('truetype');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=m8JWjfRfY7WVjVi2E-K9H5RFXF_Dn5DYS7BiJYsIGPNbEAg78sMaJsBE6OWbYIeHeWz7DvOQ8IGupVDt128psaeukjCx-Fpk&skey=41a3d1bf4e17a723&v=v15) format('truetype');
}
@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=aFTU7PB1QTsUX8KYhh2CNcXPK-m5GB8H8OA1KPSrYJwELFXpRwgr-d_DgeI71TWrHGibyoN1t640JBaGFblW7ekWRVs&skey=7fffa551dba78cac&v=v11) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sFVfpB4ej6XhBbt0HgnPsrJvf-K4xUVu5yh83kYRAvNWnyuxq0zk38gLTMaQbeLy9qHJByU7vRMI&skey=33bc0af28fd31bc7&v=v21) format('truetype');
}
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=N0bX2SlFPv1weGeLZDtQIezj2JWSJdQPQ3TNDcVnKL4PffAnmOZF0wWqp1-2Y3fc5vRlAhi8HMWiql5APu4Ph0hhHcseww&skey=bb26c8d476ab3f05&v=v14) format('truetype');
}
@font-face {
  font-family: 'Fragment Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=4iCr6K5wfMRRjxp0DA6-2CLnN4RVt8xLpBBM8kyvVfEtdBG4IQGR5YDBtM71CmdhP-DLciHeJI82XPt4J4nXpT8dWt2k_bYCGpU&skey=324f20d70fc96959&v=v1) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=-F63fjptAgt5VM-kVkqdyU8n5ig45hYnxK5QUp4ohtG5mvlx95DGM-0yEPEaeAVKPQ4tmR5GoKkFZdQK0zMEeqgaJue2ODzQ14c&skey=b40c83751ce1954d&v=v19) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/l/font?kit=QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8aRrkph7bgo_cSzuWrK_T6w1cncBfc3iN0eTpezO4FGCxGE_K2P9BQpm_b0DgyXtDzcYbxPxf4eg&skey=20fa6569a31c71ee&v=v31) format('truetype');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=tDbY2o-flEEny0FZhsfKu5WU4zr3E_BX0PnT8RD8yKxjPUGk-OXYwk6HJhbHZVywim1qy7_NRJ3xOzKHGkBfnO3EKW15UJ77eYlPJ7elxJDF89BMeY8SsQ&skey=48ad01c60053c2ae&v=v18) format('truetype');
}
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=RWmVoLyb5fEqtsfBX9PDZIGr2tFubRhLCmWgazQUhmkUXfERKX3R1VJ8eSMl2QuFg1gJ-GDLLxcZlMsbzsnYMyvWzNmgCqUL5u78uGZaHg&skey=83d62fa7110a1053&v=v13) format('truetype');
}
@font-face {
  font-family: 'Martian Mono';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/l/font?kit=2V08KIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnQzaVMIE6j15dYY1qu86WF44tNcozE4xBirhCcRrBjFtMLsoI8UWO0HlshwgYrkS2E8AUF4B4c4DhHVodemffNINw6gDI&skey=46e4853ff9c7b052&v=v3) format('truetype');
}
@font-face {
  font-family: 'Monofett';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=mFTyWbofw6zc9NtnW43SoSxikgk-1poQlHdjp8uYTtMTgzMqxj4K7sSCLhscUS9GkikDR58tVG4m9vm-2-WOmTyZhsg1&skey=a8882b235f7fa04f&v=v23) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=8QIVdjzHisX_8vv59_xMxtPFW4IXROwsy6QpZoQUtZIRqPiKggwSW2lOx9s89J0_CPS-liKIbgdIgjv9oeChYwy5_F1oVFhcwmp5GmXJV6A&skey=252a63b28c363963&v=v19) format('truetype');
}
@font-face {
  font-family: 'Noto Sans Mono';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/l/font?kit=BngrUXNETWXI6LwhGYvaxZikqZqK6fBq6kPvUce2oAZcdthSBUsYck4-_FNJ49rPZA1TdINod75CZtWFwjzQN88t-IBd--rp4OFd9Qg4QTn0y1kzvPAM7h1wufBJNrBt6ZnuHbk&skey=41eaca710d6906c9&v=v27) format('truetype');
}
@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=Cn-0JtiGWQ5Ajb--MRKfYHRo5JBmDzP30Vfd3cyearw-QnR6ZQ3I0oBnpe3H0CJs_Lbpnk2joTpJnffLckS78uGhNfa6_w&skey=573d932cf583f4f3&v=v18) format('truetype');
}
@font-face {
  font-family: 'Overpass Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=_Xm5-H86tzKDdAPa-KPQZ-AC_COcRycquHlL6EXUokzzRtq3CTluau0_mVzQsXdtBK9RbK8HWqCGOBfTtu0DMqos3KZr0u7X-J_plkbxrSsHWps-ek0y&skey=d1f5d4df18f8b025&v=v15) format('truetype');
}
@font-face {
  font-family: 'Oxygen Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=h0GsssGg9FxgDgCjLeAd7ijf1d_GfQ5r7JIWA9BosbrVf7zWDgDm7sUHtdylyzWvax0qK7JrHOT6NTP_8OReWfB5G9IN881S&skey=464e9f9167c9e76a&v=v14) format('truetype');
}
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=9oRONYoBnWILk-9ArCghApqxWo2GWfJHuvgeA73iWPh8HAf6edTK6d0OJMYjIq8MlNj9LFZ2_rpqNTCwJX526U1hJWU&skey=a4defc8e382ed677&v=v13) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=jVyY7nDnA2uf2zVvFAhhzEs-VMSjJpBTfgjwQV3I-7HViSdT4-dU_Ca9VfpunYIpcxlS3tWRbuPin82PcR0d2I2MthRuFaqBWDBo2QpaYUiTGtIfZyY&skey=408a12ecc464ca51&v=v10) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQ_eJa973DMFqPM9rR2QY0YtvCNxPw8SSIPgeBKpY7BJAm2q--5C8JucDdQTxAFM26ye0_1iscw&skey=7b92570108d40690&v=v22) format('truetype');
}
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=J7aHnp1uDWRBEqV98dVQztYldFc7pBM0aI6MPkSMC_VtybAmTA_fYfzMBEZ9X_TYQxKfFpnbB6NgDH8w9bFMOLV7ZStsruLiuKYZyQ&skey=241741910c57ea83&v=v15) format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQhM55fTxfL93b4HobiVKf0Ptsm5bm8sSoes4pRyu9JH10aqiTzSY8YjJCZENtVnc9aR1_UpcEgQ0&skey=d94d317bc78fd84e&v=v22) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=i7dPIFZifjKcF5UAWdDRUEZudBP4WEDRKTPPKpqU4Oq8CEFqhfU4ZJdXPo95NaqyxbMR65Cl3GdgtwcRwuG_tVUVsOhUI_g&skey=5e801b58db657470&v=v12) format('truetype');
}
@font-face {
  font-family: 'Spline Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=R70MjzAei_CDNLfgZxrW6wrZOF2WdZ6xabUGSVtNuGBiMrtV07cxNz2whYSHo0xO6jiuXLXH0VW6el0nq7ucoMNm9YYL4cA0bJw1M-WieWw8xzTHvlBiVgo7&skey=7f312499347300dc&v=v8) format('truetype');
}
@font-face {
  font-family: 'Syne Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=K2FzfZNHj_FHBmRbFvHzIriURmixIS7Lya1xcsUs4XeJ8OMVxD-qxW0P5gX0CtNFu6bSEdKT3ENr-W8iwFQ3K5hQ99_QrQ&skey=8967fef4ff6c75e2&v=v15) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=KFOjCneDtsqEr0keqCMhbBc9GPWz18sKPj3zSRBVKHiVFKlcfxvA_FqIwQR_hQ5UsB8Si6CoLJqBL01VX7v1peRp53bxdAro&skey=8c1feb82f3a61020&v=v15) format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=pxiKyp0ihIEF2hsYBqS_NRgBVbHMAAAO4SLl6L0f2CP6lXQoh-nN2RkQxkBo3ECd2kNMsou3JHRSR6NiT5Wf6plr&skey=8f4976db8da1d41&v=v17) format('truetype');
}
@font-face {
  font-family: 'Xanh Mono';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/l/font?kit=R70YjykVmvKCep-vWhSYmBigFnG6C9D_2i3SuBcU9S7lIcoHstclIymsmZihiWZgxBKEepP962uEQGcBjZG2jtdy4ZoX_Q&skey=61e4258ac7d1ceb&v=v18) format('truetype');
}
