.comparisonPanel {
	grid-column: 7/-1;
	border-left: 2px solid black;
	height: var(--comparison-panel-height);
}

.comparisonPanel > h2 {
	text-align: center;
	letter-spacing: 2px;
	text-decoration: underline;
}
