.comparisonPanel {
	position: relative;
	grid-row: 6/-1;
	width: auto;
	height: var(--comparison-panel-height);
	padding: var(--comparison-panel-padding-vertical)
		var(--comparison-panel-padding-horizontal);
	overflow-y: scroll;
	border-top: 2px solid var(--text);
	background-color: inherit;
	/* border-radius: 0 8px 8px 0; */
	/* z-index: 10; */
}

.comparisonPanel .comparisonPanelContent {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 20px;
	transition: var(--transition-speed) var(--transition-timing-function);
	margin: 0;
}

.comparisonPanelContent .comparisonPanelTitle {
	text-align: center;
}

.comparisonPanelContent .comparisonPanelTitle h2 {
	letter-spacing: 2px;
	text-decoration: underline;
	margin-top: 2rem;
	margin-right: 3rem;
}

.comparisonPanelContent .fontFamilies {
	text-align: center;
	font-style: italic;
}

.comparisonPanelContent .fontFamilies span {
	font-weight: 600;
}

@media screen and (min-width: 980px) {
	.comparisonPanel {
		grid-column: 6/-1;
		grid-row: auto;
		border-top: none;
		border-left: 2px solid var(--text);
	}

	.comparisonPanel .comparisonPanelContent {
		margin: 0 4rem 0 2rem;
	}

	.comparisonPanelContent .comparisonPanelTitle h2 {
		/* margin-left: 0; */
		margin-right: 0;
	}
}

@media screen and (min-width: 1440px) {
	.comparisonPanel .comparisonPanelContent {
		margin: 0 5rem 0 2rem;
	}
}

/*--------------------------------------------------------------*/
/* AlphaNumComparisonSection */
/*--------------------------------------------------------------*/
.comparisonPanelContent .alphaNumSection {
	height: calc(
		var(--comparison-panel-height) - 2 *
			var(--comparison-panel-padding-vertical)
	);
}

.comparisonPanelContent .alphaNumContainer {
	width: 100%;
}

.comparisonPanelContent .alphaNumContainer .alphaNumGroup {
	/* display: grid;
	grid-template-columns: repeat(12, 1fr); */
	width: 100%;
}

.comparisonPanelContent .alphaNumContainer .alphaNumGroup > * {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.comparisonPanelContent .alphaNumContainer .alphaNumElementContainer {
	gap: 2rem;
	/* justify-content: center; */
	/* text-align: center; */
	overflow-x: auto;
	padding: 0 1.5rem;
	scrollbar-width: none;
	/* width: fit-content;
	min-width: 100%; */
}

.comparisonPanelContent
	.alphaNumContainer
	.alphaNumElementContainer
	p:first-of-type {
	text-align: center;
}

.comparisonPanelContent
	.alphaNumContainer
	.alphaNumElementContainer
	.alphaNumElement {
	margin: 0 auto;
}

.comparisonPanelContent .alphaNumContainer .variantButtonsContainer {
	justify-content: center;
	width: auto;
	flex-wrap: wrap;
	gap: 0.5rem 1rem;
	padding: 0;
	border: none;
}

.comparisonPanelContent
	.alphaNumContainer
	.variantButtonsContainer:last-of-type {
	padding-bottom: 1rem;
}

/*--------------------------------------------------------------*/
/* TextualExampleComparisonSection */
/*--------------------------------------------------------------*/
.comparisonPanelContent .textualSection {
	min-height: calc(
		var(--comparison-panel-height) - 2 *
			var(--comparison-panel-padding-vertical)
	);
}

.comparisonPanelContent .textualElementsContainer {
	display: flex;
	flex-direction: column;
	/* justify-content: end; */
	align-self: baseline;
	gap: 1.875rem;
	margin-top: 0.5rem;
}

.comparisonPanelContent .textualElementsContainer .textualElement {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.comparisonPanelContent .textualElement .typesettingFontNumber {
	font-style: italic;
	grid-column: 1/2;
	align-self: center;
	writing-mode: sideways-lr;
}

@supports not (writing-mode: sideways-lr) {
	.comparisonPanelContent .textualElement .typesettingFontNumber {
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
}
.comparisonPanelContent .textualElementsContainer .textualElement .example {
	grid-column: 2/-1;
	display: flex;
	align-items: center;
}

.comparisonPanelContent .textualElementsContainer .textualElement .example h2,
.comparisonPanelContent .textualElementsContainer .textualElement .example h3 {
	margin: 0;
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.titleElement
	.example {
	font-size: clamp(1.35rem, 3vw, 2.25rem);
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.leadElement
	.example {
	font-size: clamp(1.25rem, 2.5vw, 1.625rem);
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.paragraphElement
	.example {
	display: block;
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.paragraphElement
	.example,
.comparisonPanelContent .textualElement.actionsElement .example {
	font-size: 1rem;
}

.comparisonPanelContent .textualElement.actionsElement .example {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.875rem;
	width: 100%;
}

.comparisonPanelContent .textualElement.actionsElement .example .button {
	font-size: 1rem;
}

.comparisonPanelContent .textualElement.actionsElement .example span a {
	display: flex;
	align-items: center;
}

/* .comparisonPanelContent .textualElement.actionsElement .example span  */

.comparisonPanelContent .textualElement.actionsElement .example span a .icon {
	margin-right: 0.875rem;
}

@media screen and (min-width: 980px) {
	.comparisonPanelContent .textualElementsContainer {
		margin-top: 1rem;
	}
}

/*--------------------------------------------------------------*/
/* CodeSection */
/*--------------------------------------------------------------*/
.codeSection {
	height: calc(
		var(--comparison-panel-height) - 2 *
			var(--comparison-panel-padding-vertical)
	);
}

.codeSection .codeSectionContainers {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.codeSection .codeSectionContainers h3 {
	margin-block-end: 0.7rem;
}

/* .codeSection .codeSectionContainers > div:first-child h3 {
	margin-block-start: 0; 
} */

.codeSection .codeSectionContainers .variantSelectorContainer {
	/* display: flex;
	flex-direction: column;
	gap: 0.5rem; */
	background-color: rgba(245, 245, 245, 0.555);
	border: solid 1px rgba(0, 0, 0, 0.842);
	border-radius: 0.5rem;
	overflow-x: hidden;
	padding: 1rem;
	/* padding: 1rem 0.35rem; */
}

.codeSection .codeSectionContainers .variantSelectorContainer > span {
	/* margin-left: 1rem; */
	font-size: 1.05rem;
	font-style: italic;
}

.codeSection .codeSectionContainers .variantSelectorContainer .fontFamily {
	font-weight: 600;
}

.codeSection .codeSectionContainers .variantSelectorContainer fieldset {
	/* padding: 1rem; */
	margin: 0;
	border: none;
}

.codeSection
	.codeSectionContainers
	.fontWeightsSelector
	fieldset:first-of-type {
	padding-bottom: 0;
}

.codeSection
	.codeSectionContainers
	.variantSelectorContainer
	fieldset:last-of-type {
	padding-bottom: 0.25rem;
}

/* .codeSection .codeSectionContainers .variantSelectorContainer fieldset {
	display: flex;
	gap: 0.5rem 0.625rem;
	padding: 0.25rem;
	overflow-x: auto;
	flex-wrap: wrap;
} */

.codeContainer {
	border: 1px solid black;
	background-color: rgba(245, 245, 245, 0.555);
	border-radius: 0.5rem;
}

.codeContainer .codeCopy {
	display: flex;
	justify-content: end;
	background-color: rgba(100, 100, 100, 0.555);
	border-radius: 0.5rem 0.5rem 0 0;
}

.codeContainer .codeCopy .copyButton {
	margin: 0.1rem 0 0.25rem;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.codeContainer .codeCopy .copyButton:hover {
	opacity: 0.5;
}

.codeContainer .pre {
	border-radius: 0.5rem;
	max-width: 100%;
	display: block;
	margin: 0.5rem 0;
	padding: 0 0.5rem;
	overflow-x: auto;
}

.codeContainer .code {
	display: block;
	padding: 0 0 1rem 0;
	word-wrap: break-word;
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
		monospace;
	/* color: gray; */
}

.codeContainer .code .fontQuery {
	font-weight: 700;
}

/*--------------------------------------------------------------*/
/* ComparisonSectionSelector */
/*--------------------------------------------------------------*/
.comparisonSectionSelector {
	position: absolute;
	margin: 2rem 0;
	top: var(--fonts-panel-height);
	right: 12px;
	background-color: var(--background);
	z-index: 5;
}

.comparisonSectionSelector > ul {
	display: flex;
	flex-direction: column;
	gap: 2px;
	margin: 0;
	padding: 0;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.comparisonSectionSelector > ul > li {
	list-style: none;
}

.comparisonSectionSelector > ul > li a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 2.25rem;
	width: 2.25rem;
	background-color: var(--background);
	outline: 2px solid var(--primary);
	transition: var(--transition-speed) step-start;
	filter: drop-shadow(0px 0px 5px rgb(204, 204, 204));
}

.comparisonSectionSelector > ul > li a::before {
	width: 0;
	height: 0;
	background-color: none;
	content: '';
}

.comparisonSectionSelector > ul > li a::after {
	width: 0;
	height: 0;
	background-color: none;
	content: '';
}

.comparisonSectionSelector > ul > li a:hover,
.comparisonSectionSelector > ul > li a:focus-within {
	background-color: #e2dae2;
	/* box-shadow: inset 4px 4px 4px 0px rgb(218, 218, 218); */
}

.comparisonSectionSelector > ul > li a.active {
	background-color: var(--secondary);
	/* box-shadow: inset 4px 4px 4px 0px #c9c1c9; */
}

.comparisonSectionSelector > ul > li:first-of-type a {
	border-radius: 0.5rem 0.5rem 0 0;
}

.comparisonSectionSelector > ul > li a.textualSelector {
	font-size: 1.125rem;
	font-style: italic;
}

.comparisonSectionSelector > ul > li a.textualSelector .bodyTextIcon {
	height: 1rem;
	width: 1rem;
}

.comparisonSectionSelector > ul > li:last-of-type a {
	border-radius: 0 0 0.5rem 0.5rem;
}

@media screen and (min-width: 980px) {
	.comparisonSectionSelector {
		top: 0;
		right: 22px;
	}
}

@media screen and (min-width: 1440px) {
	.comparisonSectionSelector {
		right: 28px;
	}
}

/*--------------------------------------------------------------*/
/* SavePairButton */
/*--------------------------------------------------------------*/

.savePairButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0rem;
	position: absolute;
	bottom: 0;
	right: 12px;
	margin: 2rem 0;
	height: 2.25rem;
	width: 2.25rem;
	outline: 2px solid black;
	border-radius: 0.5rem;
	background-color: #fff;
	transition: var(--transition-speed) var(--transition-timing-function);
	filter: drop-shadow(0px 0px 5px rgb(204, 204, 204));
	z-index: 5;
}

/* main#mainContent .savePairButton:hover {
	justify-content: center;
	right: -38px;
} */

.savePairButton:active {
	background-color: #fff;
	animation: vertical-shaking 200ms var(--transition-timing-function);
}

.savePairButton.saved:active {
	animation: horizontal-shaking 200ms var(--transition-timing-function);
}

.savePairButton:focus {
	/* border: 2px solid black; */
	outline: 2px solid black;
	outline-offset: 1px;
}

/* main#mainContent .savePairButton:focus svg {
	background-color: #fff;
} */

@keyframes horizontal-shaking {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes vertical-shaking {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	75% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0);
	}
}

@media screen and (min-width: 980px) {
	.savePairButton {
		right: 22px;
	}
}

@media screen and (min-width: 1440px) {
	.savePairButton {
		right: 28px;
	}
}

/*--------------------------------------------------------------*/
/* Checkboxes and Pill Buttons */
/*--------------------------------------------------------------*/
.variantSelector {
	width: 100%;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
}

/* .variantSelector > fieldset {
	width: 100%;
} */

.variantSelector > .variants {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-content: flex-start;
	gap: 0.5rem 0.7rem;
	padding: 1rem 0.35rem;
}

.variantSelector .variant {
	display: flex;
	align-items: center;
	justify-content: center;
}

.variantSelector label.checkboxLabel span {
	transition: var(--transition-speed) var(--transition-timing-function);
}

.variantSelector label.checkboxLabel,
.pillButton {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 0px;
	padding: 6px 10px;
	width: fit-content;
	height: auto;
	border: 1px solid #000;
	border-radius: 1rem;
	background-color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.variantSelector input.checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

.variantSelector input.checkbox[type='checkbox']:checked + label.checkboxLabel {
	color: #646464;
	border: 1px solid #7a7a7a;
	outline: 1px solid #7a7a7a;
}

.variantSelector label.checkboxLabel:hover,
.variantSelector input.checkbox[type='checkbox']:focus + label.checkboxLabel {
	border: 1px solid #000000;
	outline: 1px solid #000000;
}
