.comparisonPanel {
	grid-column: 7/-1;
	width: auto;
	/* height: var(--panels-container-height); */
	padding: var(--comparison-panel-padding-vertical)
		var(--comparison-panel-padding-horizontal);
	overflow-y: hidden;
	border-left: 2px solid black;
}

.comparisonPanel .comparisonPanelContent {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 30px;
	height: calc(
		var(--panels-container-height) - 2 *
			var(--comparison-panel-padding-vertical)
	);
	overflow-y: scroll;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.comparisonPanel .comparisonPanelContent.alphaNumSection {
	translate: 0% calc(-100% - var(--comparison-panel-padding-vertical));
}
.comparisonPanel .comparisonPanelContent.textualSection {
	translate: 0% calc(-200% - var(--comparison-panel-padding-vertical));
}
.comparisonPanel .comparisonPanelContent.codeSection {
	translate: 0% calc(-300% - var(--comparison-panel-padding-vertical));
}
.comparisonPanel .comparisonPanelContent.alphaNumSection.active {
	translate: 0% 0%;
}
.comparisonPanel .comparisonPanelContent.textualSection.active {
	translate: 0% -100%;
}
.comparisonPanel .comparisonPanelContent.codeSection.active {
	translate: 0% -200%;
}

.comparisonPanelContent .comparisonPanelTitle {
	align-items: center;
	/* align-self: start; */
}

.comparisonPanelContent .comparisonPanelTitle > h2 {
	text-align: center;
	letter-spacing: 2px;
	text-decoration: underline;
}

.comparisonPanelContent .fontFamilies {
	text-align: center;
	font-style: italic;
}

.comparisonPanelContent .alphaNumFontContainer > div {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-evenly;
	text-align: center;
}

.comparisonPanelContent
	.alphaNumFontContainer
	.alphaNumElementContainer:first-child {
	margin-right: 0.5rem;
}

.comparisonPanelContent
	.alphaNumFontContainer
	.alphaNumElementContainer:nth-child(2) {
	margin-left: 0.5rem;
}

.comparisonPanelContent .textualElementsContainer {
	display: flex;
	flex-direction: column;
	/* justify-content: end; */
	align-self: baseline;
	gap: 1.875rem;
}

.comparisonPanelContent .textualElementsContainer .textualElement {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.comparisonPanelContent .textualElement .typesettingFontNumber {
	font-style: italic;
	grid-column: 1/2;
	align-self: center;
	writing-mode: vertical-lr;
	writing-mode: sideways-lr;
}
.comparisonPanelContent .textualElementsContainer .textualElement .example {
	grid-column: 2/-1;
}

.comparisonPanelContent .textualElementsContainer .textualElement .example h1,
.comparisonPanelContent .textualElementsContainer .textualElement .example h3 {
	margin: 0;
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.titleElement
	.example {
	font-size: 2.25rem;
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.leadElement
	.example {
	font-size: 1.625rem;
}

.comparisonPanelContent
	.textualElementsContainer
	.textualElement.paragraphElement
	.example,
.comparisonPanelContent .textualElement.actionsElement .example {
	font-size: 1rem;
}

.comparisonPanelContent .textualElement.actionsElement .example {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.875rem;
	width: 100%;
}

.comparisonPanelContent .textualElement.actionsElement .example .button {
	font-size: 1rem;
}

.comparisonPanelContent .textualElement.actionsElement .example span a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.comparisonPanelContent .textualElement.actionsElement .example span a:hover {
	color: #555;
	text-decoration: underline;
}

.comparisonPanelContent .textualElement.actionsElement .example span a .icon {
	margin-right: 0.875rem;
}

/* .comparisonPanel .textualElement.actionsElement .example span {
	display: inline-block;
} */

/* .comparisonPanel .textualElement.actionsElement .example::before {
	height: 24px;
	width: 24px;
	content: url('/src/assets/img/arrow-long-right.svg');
} */
