#fontsPanel {
	grid-column: 1/7;
	height: 100%;
}

.fontSelectorContainer {
	display: flex;
	justify-content: center;
}

.radioContainer {
	display: inline-block;
	padding: 1.5625rem;
	width: 100%;
	border-bottom: 2px solid black;
	text-align: center;
	background-color: rgba(240, 240, 240, 0.075);
	box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.075);
	transition: var(--transition-speed) step-start;
}

.radioContainer:first-of-type {
	border-right: 2px solid black;
	border-radius: 8px 0 0 0;
}

.radioContainer:last-of-type {
	/* border-radius: 0 8px 0 0; */
}

.radioContainer:hover,
.radioContainer:focus-within {
	background-color: rgb(230, 230, 230);
	/* box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.021); */
	font-style: italic;
}

.radioContainer.active {
	box-shadow: none;
	background-color: transparent;
	border-bottom: none;
	font-weight: 700;
	font-style: italic;
}

.radioContainer > input[type='radio'] {
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
	/* visibility: hidden; */
}

.fontCategorySectionsContainer {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	padding: 0.625rem 0.875rem;
	height: 100%;
}

.fontCategorySectionsContainer .categorySection {
	width: 100%;
	height: auto;
}

.categorySection .buttonOpenSection {
	margin: 0;
	padding: 0.25rem;
	display: flex;
	width: 100%;
	justify-content: left;
	align-content: center;
}

.categorySection .buttonOpenSection:focus {
	background-color: transparent;
}

.categorySection .chevron {
	margin-right: 0.5rem;
	align-self: baseline;
	transition: var(--transition-speed) cubic-bezier(0.39, 0.58, 0.57, 1);
}

.categorySection.open .chevron {
	transform: rotate(90deg);
}

.fontsContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: start;
	align-items: start;
	justify-content: space-between;
	margin: 0;
	height: 0;
	padding: 0;
	/* width: 100%; */
	gap: 8px 10px;
	overflow-y: scroll;
	transition: var(--transition-speed) cubic-bezier(0.39, 0.58, 0.57, 1);
}

.fontsContainer.open {
	padding: 0.875rem;
	height: 100px;
	width: auto;
	/* transition: var(--transition-speed) cubic-bezier(0.39, 0.58, 0.57, 1); */
}
