#fontsPanel {
	grid-column: 1/6;
	height: var(--fonts-panel-height);
	/* z-index: 10; */
	/* border-right: 2px solid black; */
}

.fontSelectorContainer {
	display: flex;
	justify-content: center;
}

.radioContainer {
	display: inline-block;
	padding: var(--font-selector-radio-container-padding);
	width: 100%;
	border-bottom: 2px solid black;
	text-align: center;
	background-color: transparent;
	box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.075);
	transition: var(--transition-speed) step-start;
}

.radioContainer:first-of-type {
	border-right: 2px solid black;
	border-radius: 8px 0 0 0;
}

.radioContainer:hover {
	background-color: #00000010;
	font-style: italic;
}

.radioContainer:focus-within {
	background-color: #00000010;
	font-style: italic;
}

.radioContainer.active {
	box-shadow: none;
	background-color: transparent;
	border-bottom: none;
	font-weight: 700;
	font-style: italic;
}

.radioContainer > input[type='radio'] {
	width: 0;
	height: 0;
	margin: 0;
	opacity: 0;
}

.fontCategorySectionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: var(--font-category-section-container-flex-gap);
	padding: var(--font-category-section-container-padding-vertical)
		var(--font-category-section-container-padding-horizontal);
}

.fontCategorySectionsContainer .fontCategorySectionsContainer .categorySection {
	width: 100%;
}

.categorySection .buttonOpenSection {
	display: flex;
	margin: 0;
	padding: var(--button-open-section-padding);
	width: 100%;
	justify-content: left;
	align-content: center;
}

.categorySection .buttonOpenSection:focus {
	background-color: transparent;
}

.categorySection .buttonOpenSection > * {
	transition: var(--transition-speed) var(--transition-timing-function);
}

.categorySection.empty .buttonOpenSection > * {
	opacity: 0.6;
}

.categorySection .chevron {
	margin-right: 0.5rem;
	align-self: baseline;
}

.categorySection.open .chevron {
	transform: rotate(90deg);
}

.categorySection .buttonOpenSection .circleIndicator {
	align-self: center;
	margin-left: 0.875rem;
	height: 16px;
	width: 16px;
	border-radius: 100%;
}

.categorySection .buttonOpenSection .circleIndicator.hasCurrentFont {
	height: 8px;
	width: 8px;
	background-color: rgb(0, 0, 0);
}

.fontsContainer .fieldset {
	display: flex;
	flex-direction: column;
	gap: 8px 0;
	max-height: 0;
	width: auto;
	opacity: 0;
	margin: 0;
	padding: var(--closed-fonts-container-padding);
	border: none;
	overflow-y: auto;
	transition-property: opacity, max-height;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.fontsContainer .fieldset.open {
	padding: var(--open-fonts-container-padding);
	max-height: var(--fonts-container-height);
	width: auto;
	opacity: 1;
}

.fontsContainer .fieldset .fontButtonGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	align-content: start;
	gap: 8px 10px;
}
