.footer {
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 1rem;
	padding: var(--header-padding-top-bottom) var(--header-padding-left-right);
	border-top: 2px solid var(--text);
}

.footer > *::after {
	border: 0px solid var(--text);
	transition: var(--transition-speed) var(--transition-timing-function);
}

.footer > *::after:hover {
	border: 2px solid var(--text);
}

.footer .bracket {
	margin-right: 1rem;
}

.footer .bracket:hover {
	animation: shake-rotate var(--transition-speed)
		var(--transition-timing-function);
}

@keyframes shake-rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(5deg);
	}
	50% {
		transform: rotate(0eg);
	}
	75% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
