.headerAndSidebarContainer {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--header-padding-top-bottom) var(--header-padding-left-right);
	border-bottom: 2px solid black;
	background-color: #fff;
	z-index: 90;
}

.header > .websiteName {
	font-size: var(--website-font-size);
	font-weight: 900;
	margin: 0 auto 0 auto;
	letter-spacing: -0.01rem;
}

.header a {
	text-decoration: none;
	color: var(--global-font-color);
}

.header a:hover,
.header a:focus {
	color: #555555;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.header a::after,
.header a::before {
	position: initial;
	display: initial;
	width: 0;
	height: 0;
	bottom: 0;
	left: 0;
	background-color: transparent;
}

.header div:last-of-type {
	height: 40px;
	width: 36px;
}

@media screen and (min-width: 980px) {
	.headerAndSidebarContainer {
		position: relative;
	}

	.header {
		position: relative;
		z-index: 0;
	}
}

@media screen and (min-width: 1440px) {
	.comparisonSectionSelector {
		right: 28px;
	}
}
