.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1.75rem 1.875rem;
}

.header > .websiteName {
	font-size: 36px;
	font-weight: 900;
	margin: 0 auto 0 auto;
	letter-spacing: -0.01rem;
}

.websiteName > a {
	text-decoration: none;
	color: var(--global-font-color);
}

.websiteName > a:hover {
	color: #555555;
	transition: var(--transition-speed);
}
