.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: var(--header-padding-top-bottom) var(--header-padding-left-right);
}

.header > .websiteName {
	font-size: var(--website-font-size);
	font-weight: 900;
	margin: 0 auto 0 auto;
	letter-spacing: -0.01rem;
}

.websiteName > a {
	text-decoration: none;
	color: var(--global-font-color);
}

.websiteName > a:hover {
	color: #555555;
	transition: var(--transition-speed);
}
