.icon {
	width: 32px;
	height: 32px;
}

.moonIcon {
	width: 28px;
	height: 28px;
}

.smallIcon {
	height: 24px;
	width: 24px;
}

.xSmallIcon {
	height: 20px;
	width: 20px;
}

.xxSmallIcon {
	height: 16px;
	width: 16px;
}
