.buttonIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Lotion';
	font-size: 1rem;
}

.buttonIcon:focus {
	background-color: #00000010;
	border-radius: 8px;
}

.buttonIcon > svg:hover {
	color: #555555;
}

.buttonIcon:active > svg {
	scale: calc(0.75);
	transition: var(--transition-speed) step-start;
}

.buttonIcon span,
.buttonIcon svg {
	pointer-events: none;
}

.radioGroupContainer {
	padding: 0;
	margin: 0;
	border: none;
}

.button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 0px;
	padding: 8px 10px;
	height: 40px;
	width: fit-content;
	border: 1px solid #000;
	border-radius: 8px;
	background: transparent;
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.button:hover,
.button:focus,
.button.active {
	color: black;
	background-color: #00000010;
	outline: 1px solid #00000010;
}

.button.active {
	border-color: #00000010;
}

.button:active {
	color: black;
	background-color: #00000010;
	outline: 1px solid hsl(0, 0%, 75%);
	border-color: #00000010;
}

.searchBarLabel {
	position: relative;
}

.searchBarLabel::after {
	position: absolute;
	right: 0.625rem;
	top: 0.45rem;
	width: 20px;
	height: 20px;
	content: url('/src/assets/img/magnifying-glass.svg');
}

.searchBar:focus-within {
	outline: 1px solid black;
}

.searchBarLabel .searchBar {
	font-size: 1rem;
	font-family: 'Lotion';
	padding: 0.4375rem 2rem 0.4375rem 1rem;
	width: 100%;
	border: 1px solid black;
	border-radius: 20px;
}

/* ------- */
/* https://medium.com/@rion.mrk/how-to-remove-x-icon-from-search-input-field-or-input-type-search-db3c808405fb */
/* clears the ‘X’ from Internet Explorer */
input.searchBar[type='search']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input.searchBar[type='search']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* clears the ‘X’ from Chrome */
input.searchBar[type='search']::-webkit-search-decoration,
input.searchBar[type='search']::-webkit-search-cancel-button,
input.searchBar[type='search']::-webkit-search-results-button,
input.searchBar[type='search']::-webkit-search-results-decoration {
	display: none;
}
/* ------- */

label.checkboxLabel {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 0px;
	padding: 6px 10px;
	width: fit-content;
	border: 1px solid #000;
	border-radius: 1rem;
	background-color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition-speed) var(--transition-timing-function);
}

label.checkboxLabel > input.checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

label.checkboxLabel:hover,
label.checkboxLabel:has(input.checkbox[type='checkbox']:checked) {
	outline: 1px solid #00000010;
}

label.checkboxLabel:has(input.checkbox[type='checkbox']:checked) {
	color: black;
	background-color: #00000010;
	border: 1px solid #00000010;
}

label.checkboxLabel:focus-within {
	border: 1px solid #00000010;
}
