.buttonIcon {
	padding-bottom: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Lotion';
	font-size: 1rem;
}

.buttonIcon:focus {
	background-color: hsl(0, 0%, 95%);
	border-radius: 8px;
}

.buttonIcon > svg:hover {
	color: #555555;
}

.buttonIcon:active > svg {
	scale: calc(0.75);
	transition: var(--transition-speed) step-start;
}

.buttonIcon span,
.buttonIcon svg {
	pointer-events: none;
}

.radioGroupContainer {
	padding: 0;
	margin: 0;
	border: none;
}

.button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-self: center;
	gap: 0px;
	padding: 8px 10px;
	height: 40px;
	width: fit-content;
	border: 1px solid #000;
	border-radius: 8px;
	background: transparent;
	font-size: 1rem;
	cursor: pointer;
	transition: var(--transition-speed) cubic-bezier(0.39, 0.58, 0.57, 1);
}

.button:hover,
.button:focus,
.button.active {
	color: black;
	background-color: hsl(0, 0%, 95%);
	outline: 1px solid hsl(0, 0%, 95%);
}

.button.active {
	border-color: hsl(0, 0%, 95%);
}

.button:active {
	color: black;
	background-color: hsl(0, 0%, 95%);
	outline: 1px solid hsl(0, 0%, 75%);
	border-color: hsl(0, 0%, 95%);
	/* transform: scale(0.95); */
}
