main#mainContent {
	flex-direction: column;
	align-items: center;
	width: auto;
}

main#mainContent .pairContainer {
	position: relative;
	display: flex;
}

main#mainContent .panelsContainer {
	position: relative;
	display: block;
	padding: 0;
	margin: 0;
	height: var(--panels-container-height);
	min-width: 100%;
	max-width: var(--panels-container-max-width);
	outline: 2px solid var(--text);
}

@media screen and (min-width: 980px) {
	main#mainContent .panelsContainer {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: auto;
	}
}

@media screen and (min-width: 1440px) {
	main#mainContent .panelsContainer {
		grid-template-columns: repeat(19, 1fr);
		grid-template-rows: auto;
	}
}
