main#mainContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--main-content-margin-top) var(--main-content-margin-left-right)
		var(--main-content-margin-bottom);
	height: 100%;
	width: auto;
}

main#mainContent .pairContainer {
	position: relative;
	display: flex;
}

main#mainContent .panelsContainer {
	position: relative;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	padding: 0;
	margin: 0;
	height: var(--panels-container-height);
	max-width: var(--panels-container-max-width);
	outline: 2px solid #000;
	border-radius: 8px;
	background-color: #fff;
}

main#mainContent .savePairButton {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0.1rem;
	position: absolute;
	bottom: 0;
	right: -28px;
	margin: 2rem 0;
	height: 2.25rem;
	width: 2.25rem;
	outline: 2px solid black;
	border-radius: 0 0.5rem 0.5rem 0;
	transition: var(--transition-speed) var(--transition-timing-function);
	z-index: 5;
}

/* main#mainContent .savePairButton:hover {
	justify-content: center;
	right: -38px;
} */

main#mainContent .savePairButton:active {
	background-color: #fff;
}
