.sideBarContainer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 1.75rem 1.875rem;
	position: absolute;
	top: 0;
	left: -450px;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--background-color);
	border-right: 2px solid black;
	z-index: 100;
	transition: var(--transition-speed) var(--transition-timing-function);
}

.sideBarContainer.open {
	left: 0;
	box-shadow: 4px 4px 50px 60px rgba(0, 0, 0, 0.2);
}

.sideBarTopContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.sideBarBottomContainer h2 {
	letter-spacing: 2px;
}

ul.savedPairsList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 1rem 0rem 1rem 1rem;
	justify-content: left;
}

ul.savedPairsList > li.savedPair {
	margin: 0;
	padding: 0.25rem 1.5rem 0.2rem;
	border: 2px solid black;
	border-radius: 8px;
	position: relative;
	list-style: none;
	cursor: pointer;
}

li.savedPair > p {
	text-overflow: ellipsis;
}

li.savedPair button {
	position: absolute;
	top: 1rem;
	right: 0.5rem;
	cursor: pointer;
}

/* li.savedPair button:hover {
	color: hsl(0, 0%, 95%);
} */

li.savedPair button > .ellipsisVertIcon {
	width: 24px;
	height: 24px;
}

.sideBarBackground {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 95;
}
